@tailwind base;
@tailwind components;
@tailwind utilities;

body,html, #root{
    z-index: 10;
    position: relative;
}

html {
    margin-bottom: 25px;
    /* overflow: hidden; */
    overflow-x: hidden;
}

body {
    background-color: rgb(31,40,58);
}

#root {
    height: 90%;
}